body {
    color: #fff
}
html {
    background-color: #0f3852
}
.app-sidebar__appSidebar--O-in9 {
    background: #103146;
}
.dashboard__marketComponent--3tCAO {
	background-color: #022740
}
.dashboard__marketComponent--3tCAO .dashboard__marketCell--FGS6O>div {
	background-color: #13345d;
}
.rental-market__flatCell--1qZae {
	border-bottom-color: #103146;
}
.rental-market__flatCell--1qZae:hover {
	border-bottom-color: #13345d;
}
.btn-outline-green {
	border-color: #39ab80;
    background-color: #39ab80;
    color: #fff
}
.btn-outline-red {
	border-color: #d95555;
    background-color: #d95555;
    color: #fff
}
.btn-outline-blue {
	border-color: #007fc5;
    background-color: #007fc5;
    color: #fff
}
.btn-outline-orange {
	border-color: #ffad00;
    background-color: #ffad00;
    color: #fff
}
.navbar__navbar--3S8Ez {
    background: #003f5f;
    border-color: #fff;
    border-bottom-color: #3d579e;
}
.kohorts-overlay {
    background: #000;
    color: #fff
}
.kohorts-app-loading::after {
    content:"amogus à¶ž"
    /* change this at will */
}
.app-layout {
    background-color: #0f3852;
}
.app-layout {
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/1483326184198795197/10C4651D59CC3CC5049A955BE151FB806B322F53/");
    /* you can change the url to any image you want */
    background-size: calc(607px/3) auto;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    animation: scrollthing 60s infinite linear reverse; /* comment this line out if you want no background animation */
} /* comment this out if you dont want a image background */
 .dashboard__card--10Gh_ {
    background-color: #022740;
}
.dashboard__card--10Gh_ .dashboard__taskContainer--1Ypv5 {
    background-color: #13345d!important
}
.tracker-summary-chart__trackerSummaryChartComponent--Qnm24 {
    background-color: #13345d
}
.tracker-summary-chart__trackerSummaryChartComponent--Qnm24 .tracker-summary-chart__loadingOverlay--2IFR6 {
    background-color: #13345d
}
.tracker-summary-chart__trackerSummaryChartComponent--Qnm24 .tracker-summary-chart__loadingOverlay--2IFR6 .tracker-summary-chart__loadingPie--J18Rz {
    border-color: #022740
}
.tracker-summary-chart__trackerSummaryChartComponent--Qnm24 .tracker-summary-chart__loadingOverlay--2IFR6 .tracker-summary-chart__loadingChart--2LF8D {
    background-color: #022740
}
body .ct-grid {
    stroke: rgba(1, 1, 1, .5)
}
.dashboard__card--10Gh_ .dashboard__taskContainer--1Ypv5 {
    border-bottom-color: rgba(1, 1, 1, .5);
    border-top-color: rgba(1, 1, 1, .5);
}
.app-sidebar__championedBy--3GzRq {
    background-color: rgba(0, 0, 0, 0);
}
.spinner>div {
    animation: rainbowthing 1.4s infinite ease-in-out both
}
@keyframes rainbowthing {
    0% {
        background-color: skyblue;
        transform: scale(0);
    }
    80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.0);
    }
    100% {
        background-color: lime;
    }
}
@keyframes scrollthing {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: calc(607px) calc(821px*2);
    }
}
.mat-dialog-container {
	background-color:#022740
}
.modals__sidebar--2sPCD:first-child:after {
	background-color:#022740;
    border-right-color:#022740
}
/* i dont know why i made this */

/* https://github.com/foopoa */
